@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --headerSidebarBgColor: /*#11101d;*/ #022238;
    --bodySidebarBgColor: #022238;
    --sidebarTxtColor: #fff;
    --submenuBgColor: #1d1b31;
    --profileBgColor: #1d1b31;
    --profileTxtColor: #fff;
    --homeSectionBgColor: /*#E4E9F7*/ #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 140vh;
    width: 260px;
    background: var(--headerSidebarBgColor);
    z-index: 100;
    transition: all 0.5s ease;
}

    .sidebar.close {
        width: 78px;
    }

    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

        .sidebar .logo-details i {
            font-size: 30px;
            color: var(--sidebarTxtColor);
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
        }

        .sidebar .logo-details .logo_name {
            font-size: 22px;
            color: var(--sidebarTxtColor);
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        background: var(--bodySidebarBgColor);
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

    .sidebar .nav-links {
        overflow: visible;
    }

        .sidebar .nav-links::-webkit-scrollbar {
            display: none;
        }

        .sidebar .nav-links li {
            position: relative;
            list-style: none;
            transition: all 0.4s ease;
        }

            .sidebar .nav-links li:hover {
                background: var(--sidebarBgColor);
            }

            .sidebar .nav-links li .iocn-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

    .sidebar.close .nav-links li .iocn-link {
        display: block;
    }

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }


        .sidebar .nav-links li a .link_name {
            font-size: 18px;
            font-weight: 400;
            color: var(--sidebarTxtColor);
        }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
        color: var(--sidebarTxtColor);
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s ease;
        transition-delay: 0s;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }

    .sidebar.close .nav-links i.arrow {
        display: none;
    }

    .sidebar .nav-links li i a .link_name {
        font-size: 18px;
        font-weight: 400;
        color: var(--sidebarTxtColor);
    }


    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: var(--submenuBgColor);
        display: none;
    }

    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }

    .sidebar .nav-links li .sub-menu a {
        color: var(--sidebarTxtColor);
        font-size: 15px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3 ease;
    }

        .sidebar .nav-links li .sub-menu a:hover {
            opacity: 1;
        }

    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        transition: 0s;
        opacity: 0;
        display: block;
        pointer-events: none;
    }

    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        transition: all 0.4s ease;
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }

    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar .profile-details {
        position: relative;
        bottom: 0;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--profileBgColor);
        padding: 6px 0;
        transition: all 0.5s ease;
    }

    .sidebar.close .profile-details {
        background: none;
    }

    .sidebar.close .profile-details {
        width: 78px;
    }

    .sidebar .profile-details .profile-content {
        display: flex;
        align-items: center;
    }

    .sidebar .profile-details img {
        height: 52px;
        width: 52px;
        object-fit: cover;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        background: var(--profileBgColor);
        transition: all 0.5s ease;
    }

    .sidebar.close .profile-details img {
        padding: 10px;
    }

    .sidebar .profile-details .profile_name, .sidebar .profile-details .job {
        color: var(--profileTxtColor);
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }

    .sidebar .profile-details .fa-sign-out-alt {
        color: var(--profileTxtColor);
    }

    .sidebar.close .profile-details .profile_name, .sidebar.close .profile-details .job, .sidebar.close .profile-details i {
        display: none;
    }

    .sidebar .profile-details .job {
        font-size: 12px;
    }
